.header{
  align-items: center;
  border: 1px solid #ddd;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.input-form{
  border:  none ;
  border-Radius:  12px ;
  height:  40px ;
  padding:  0 12px ;
  width:  240px;
  align-Items:  center ;
  display:  flex ;
  gap: 20px ;


}

.input-form2{
  border:  none ;
  border-Radius:  12px ;
  height:  40px ;
  padding:  0 12px ;
  width:  240px;
  align-Items:  center ;
  display:  flex ;
  margin-left: 100px;
}

h1{
  font-Size:  16px ;
  font-Weight:  700 
}

h2{
  font-Size:  16px ;
  font-Weight:  700;
  margin-right: 10px;
  margin-left: 12px;
}

.add_button{
    background-Color: purple ;
    border:  none ;
    border-Radius: 10px ;
    color:  #fff ;
    font-Weight: 700;
    height:  40px;
    width:  140px;
    margin-right: 10px;
    margin-left: 400px;
    padding: 10px 0px 10px 0px;
}


.list_container{
  padding: 0 24px;
}

.list_title{
  display: block;
  font-Size: 1.5em;
  margin-Block-Start: 0.83em;
  margin-Block-End: 0.83em;
  margin-Inline-Start: 0px;
  margin-Inline-End: 0px;
  font-Weight: bold;
}

.judul {
  display: block;
  font-Size: 1.5em;
  font-Weight: bold;
}

.judul2 {
  display: block;
  font-Size: 1.5em;
  font-Weight: bold;
}

